body{
    font-family: 'VT323', monospace;
    font-size: 25px;
    text-align: center;
    background-image: url("https://w.wallhaven.cc/full/2k/wallhaven-2kgel9.jpg");



}

.gamenNameB{
    margin: 1px;
    padding: 1px;
}

h1{
    
    margin: 1px;
    padding: 1px;

}
h4{
    
    padding: 1px;
    margin: 1px;
}

.gameSpace{
    
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 650px;
    height: 200px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

}

#box{
    width: 55px;
    height: 55px;
    background-color: midnightblue;
    position: relative;
    top: 145px;
    left: 50px;
    
}

.boxJumpA{
    animation: boxJump .4s linear;

}

@keyframes boxJump {
    0%{ top: 145px; }
    30%{top: 110px;}
    50%{top: 80px;}
    80%{top: 110px;}
    100%{top: 145px;}

}

#triangle{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 52px solid red;
    position: relative;
    left:590px;
    top: 94px;
    
}

.slide2right{
    animation: triangle 1s linear;

}

@keyframes triangle {
    0% {left: 590px;}
    100% {left:-10px;}
    
}

#timeScore{
    position: absolute;
    top:10px;
    right: 16px;
    font-size: 25px;
}

.gameStuff{
    
    position: relative;
    margin-top: 235px;
    

}